*, *:before, *:after{

  box-sizing: border-box;

}


header{

	background-color:#35a164;
	color:#FFFFFF;
	font-family: Georgia, serif;
	display:block;


}
h1{

	padding: 30px 0px 30px 10px;


}


h5{

	color: black;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 100px;
	margin-right: 100px;
	padding-left: 300px;

}

body {

    background-color:#FFFFFF;
	color:#666666;
	font-family: Verdana, Arial, sans-serif;
	background-image: linear-gradient(white,#6077cc);
	background-attachment:fixed;


}

table{

    width: 80%;
	border-collapse: collapse;
	padding: 5px;
	margin: 10px 100px 30px 100px;
}

table,td,tr{

	border:1px solid #424242;
	padding: 10px;
	font-size: 20px;


}



button{


	margin: 10px;
	padding: 5px;
	background-color: #35a164;
	color: white;
	font-style: bold;
	font-size: 15px;

}

#signupsignin{

	float: right;
	background: darkblue;
	font-weight: bold;;

}

#logoutbutton{

	float: right;
	background: darkblue;
	font-weight: bold;;
	display: none;

}


#insert_div{

	display:none;
	text-align: center;
	width: 500px;
	margin: auto;
	border: 2px solid black;
	background: #FFFFFF;
	padding: 5px;


}

#register_div{

	display:none;
	text-align: center;
	width: 41%;
	float: right;
	margin-left: 4%;
    margin-right: 2%;
	margin-top: -43%;
	margin-bottom: 5%;
	border: 2px solid black;
	background: #FFFFFF;
	padding: 5px;


}

#login_div{

	display:none;
	float: left;
	text-align: center;
	width: 33%;
    margin-left: 3%;
    margin-top: -43%;
	border: 2px solid black;
	background: #FFFFFF;
	padding: 5px;

}


#Add_sport{

	display: none;
}

input{

	padding: 5px;
	margin: 10px;


}


#edit_div{


	display:none;
	text-align: center;
	width: 500px;

	margin: auto;
	border: 2px solid black;
	background: #FFFFFF;
	padding: 5px;

}

#homepage{

	word-spacing: 35px;
    margin-left: 10px;
	margin-top: 60px;
	margin-bottom: 40;
    text-align: center;
    font-size: 20px;
}


p{

	word-spacing: 35px;
	margin-left: 10px;
	text-align: center;
	font-size: 20px;

	
}

h2{

	background: lightgrey;
	padding:5px;
	text-align: center;
	font-size: 30px;


}

h3{

	word-spacing: 45px;
	font-weight: Bold;
	text-decoration: underline;
	text-align: center;
	font-size: 20px;

}

li{

	border: 2px solid black;
	background: #FFFFFF;
	padding: 10px;
	margin: 20px;


}

footer{

	padding: 10px;
	background-color: lightgoldenrodyellow;

}



#header{

	color: black;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 100px;
	margin-right: 100px;
	padding: 5px;

}

#header2{

	color: black;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 100px;
	margin-right: 100px;
	padding: 5px;

}


#form_div{

	color: black;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 10px;
	padding: 5px;

}


#history {

	display: none;
	font-family: sans-serif;
	color:black;
	list-style: none;
	margin-right: 100px;
	margin-left: 100px;

}



#sports{

    background-image: url(./images/runner3.jpg);
    background-position: top; height: 500px;
	background-repeat:no-repeat;
	background-size:cover;

}

#sportlist{

	padding: 5px;

}



#wrapper {

	background-color:#d1cccc;
	width: 80%;
	margin-right:auto;
	margin-left: auto;
	min-width: 700px;
	max-width: 1024px;
	box-shadow: 3px 3px rgba(66,66,66,0.3);


}

#tableheader{

		background-color: goldenrod;
		font-family: Verdana, Arial, sans-serif;
		font-style: bold;
		color: white;
		padding: 5px;
		
}

#history{

	font-style: bold;
	font-family: Arial, Helvetica, sans-serif;
	color:black;
}
